.carousel .item {
	padding-top: 20%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
}
.carousel-home .carousel .item {
	padding-top: 36%;
}
.carousel .item:before {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}
.carousel .carousel-caption {
	bottom: auto;
	top: 35%;
	padding: 0;
}
.carousel .carousel-caption h2 {
	font-size: 40px;
	font-style: italic;
	margin: 0 0 8px 0;
}
.carousel-home .carousel .carousel-caption h2 {
	font-size: 54px;
}

.carousel .carousel-control, .carousel .carousel-indicators {
	display: none;
}
.nav > .carousel .carousel-control, .nav > .carousel .carousel-indicators {
	display: block;
}
.carousel.nav .carousel-control, .nav > .carousel.nav .carousel-control {
	display: none;
}
.carousel.pager .carousel-indicators, .nav > .carousel.pager .carousel-indicators {
	display: none;
}

.carousel .carousel-inner > .item > a > img,
.carousel .carousel-inner > .item > img,
.carousel .img-responsive {
	display: none;
}
.carousel-full-image .carousel .item {
	padding: 0;
	background-image: none !important;
}
.carousel-full-image .carousel .carousel-inner > .item > a > img,
.carousel-full-image .carousel .carousel-inner > .item > img,
.carousel-full-image .carousel .img-responsive {
	display: block;
	width: 100%;
}
.carousel-full-image .carousel .item:before {
	display: none;
}
@media screen and (max-width: 767px) {
	.carousel .item, .carousel-home .carousel .item {
		padding-top: 50%;
	}
	.carousel .carousel-caption h2, .carousel-home .carousel .carousel-caption h2  {
		font-size: 24px;
	}
}